# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/

# Docker
.dockerignore
.docker/
.docker-compose.yml
.docker-compose.override.yml
!Dockerfile

# Logs
*.log
logs/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.iml

# Miscellaneous
*.swp
.DS_Store

# Ignore SQLite Databases
*.db